* {
  font-family: "Nunito Sans", sans-serif;
}
/* .grisnavbg{
  background-color: #afafaf;
} */
.letragorda {
  /* font-family: 'Passion One', cursive; */
  font-family: "Roboto", sans-serif;
}
.verdetext {
  /* color: #8da639; */
  color: #abc526;
}
.grisoscurotext {
  color: #282828;
}
.grisoscurobg {
  background-color: #282828;
}
.verdebg {
  background-color: #abc526;
}
.grisclarobg {
  background-color: #444244;
}

.tamanio {
  font-size: small;
}
.fondonegro {
  background-color: black;
}

.listamasgrande {
  font-size: large;
}

#botonverde{
  background-color:  #abc526;
}

/*Css Contacto */
.text-label {
  color: #282828;
}
.back{
  background-color:#abc526 !important;
}
.backgrey{
  opacity: 0.7;
  background-color:#282828 !important;
  
}
/*Css Contacto */
.textgrey {
  color: #444244;

}
.textgreen {
  color: #abc526;

}
/*Css Contacto */
.textdark {
  color: #282828;
}
/*MEDIA QUERIES*/

/*X-SMALL DEVICES PUBLICIDAD*/
@media all and (max-width: 576px) {
  .noxs {
    display: none;
  }
}

/*SMALL DEVICES*/
@media all and (min-width: 576px) and (max-width: 767px) {
  .nosm {
    display: none;
  }
}

/*MEDIUM DEVICES*/
@media all and (min-width: 768px) and (max-width: 991px) {
  .nomd {
    display: none;
  }
}

/*LARGE DEVICES*/
@media all and (min-width: 991px) and (max-width: 1200px) {
  .nolg {
    display: none;
  }
}

/*XTRA LARGE DEVICES*/
@media all and (min-width: 1200px) {
  .noxl {
    display: none;
  }
}
