*{
  font-family: "Nunito Sans", sans-serif;
}
.letragorda{
  /* font-family: 'Passion One', cursive; */
  font-family: 'Roboto', sans-serif;

}
.verdetext{
  /* color: #8da639; */
  color: #ABC526;
}
.grisoscurotext{
  color: #282828;
}
.grisoscurobg{
  background-color: #282828;
}
.verdebg{
  background-color: #8da639;
}
.grisclarobg{
  background-color: #444244;
}
